parameters:
	tmpDir: build/phpstan
	level: 5
	paths:
		- src/
		- tests/
	bootstrapFiles:
		- vendor/codeigniter4/framework/system/Test/bootstrap.php
	excludePaths:
		- src/Debug/Toolbar.php
		- src/Views/*
	ignoreErrors:
		- '#Variable \$testString might not be defined.#'
		- '#Variable \$this might not be defined.#'
		- '#Call to an undefined method CodeIgniter\\View\\RendererInterface::renderFragments\(\).#'
		- '#Call to an undefined method CodeIgniter\\View\\RendererInterface::parseFragments\(\).#'
	universalObjectCratesClasses:
		- CodeIgniter\Entity
		- CodeIgniter\Entity\Entity
		- Faker\Generator
	scanDirectories:
		- vendor/codeigniter4/framework/system/Helpers
	dynamicConstantNames:
		- APP_NAMESPACE
		- CI_DEBUG
		- ENVIRONMENT
